# H1: DataScienceEcosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**


*   List popular languages for Data Science
*   List common libraries for Data Science


*   Create a new Jupyter notebook

Some of the popular languages that Data Scientists use are:


1.   Python
2.   R
3.   Julia
4.   Scala

Some of the commonly used libraries used by Data Scientists include:


1.   Pandas
2.   NumPy
3.   Matplotlib

| Data Science Tools |
|--------------------|
| RStudio|
| Jupyter Notebook|
| Apache Zeppelin|

### H3: Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [9]:
#This will convert 200 minutes to hours by diving by 60
x=200
y=60
result=  x/y
print ("The conversation is", result, "hours")

The conversation is 3.3333333333333335 hours

## H2: Author
Melvin Chidiebube Onuorah